<table class="table mt-5">
    <tr>
        <th colspan="2" class="text-center h1 text-primary">Phone Details</th>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ mobiles.name }}</td>
    </tr>
    <tr>
        <th>Brand</th>
        <td>{{ mobiles.brands }}</td>
    </tr>
    <tr>
        <th>Colors</th>
        <td>{{ mobiles.colors }}</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{ mobiles.price }}$</td>
    </tr>
    <tr>
        <th>Introduction</th>
        <td>{{ mobiles.description }}</td>
    </tr>
     <tr>
        <th>Image</th>
        <td><img src="{{ mobiles.image }}" alt="" srcset=""></td>
    </tr>
</table>